@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Ubuntu:wght@300;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(255, 209, 67, 1) 0%,
    rgba(255, 145, 83, 1) 90%
  );
  font-family: "Ubuntu", sans-serif;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.list-container {
  padding: 30px;
  border-radius: 10px;
  min-width: 500px;
  background-image: radial-gradient(
    circle 860px at 11.8% 33.5%,
    rgba(240, 30, 92, 1) 0%,
    rgba(244, 49, 74, 1) 30.5%,
    rgba(249, 75, 37, 1) 56.1%,
    rgba(250, 88, 19, 1) 75.6%,
    rgba(253, 102, 2, 1) 100.2%
  );
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.4);
}

.header {
  text-align: center;
  margin: 20px auto 40px;
}
